<p>first works!</p>
<div class="container">
  <div class="card" *ngFor="let item of arr;let i = index" style="width: 18rem;">
    <!-- {{item.imagelink|json}} -->
    <img (click)="show(i)" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal" src="{{item.imagelink}}" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{item.imagename}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" (click)="del(i)">Go somewhere</a>
    </div>
    <!-- Button trigger modal -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner" *ngFor="let item of obj" >
        <div class="carousel-item active" *ngFor="let items of item.imagelink;let i = index" >
          <!-- {{items|json}} -->
          <img  [src]="items" class=" w-100" alt="...">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div></div>
</div>
  </div>
</div>
<div  *ngFor="let item of obj">
  <div *ngFor="let items of item.imagelink;let i = index">
    {{items|json}}
  </div>
</div >
